<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="estilo.css" />
        <title>limpiezaspuntocom</title>
    </head>
    <body>
        <nav class="navbar">
            <ul class="listanav">
                <li><a href="inicio.html">Inicio</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="">Inicio de sesión</a></li>
            </ul>
            <div class="textnavbar">
            <h1>Brillo y confort, en cada punto con <br><img src="logo/logoblanco.png" class="logonav" alt="logo"></h1>
            <p>"Descubre y contrata nuestros servicios de limpieza de alta calidad."</p>
            </div>
        </nav>
            <section class="divservicios">
                <h2>Nuestros Servicios</h2>
                <p>Ofrecemos una amplia gama de servicios de limpieza para satisfacer tus necesidades.</p>
                <table class="serviciostabla">
                    <tr>
                        <td>Pisos</td>
                        <td><img src="images/piso.png"></td>
                        <td>Casas</td>
                        <td><img src="images/casa.png"></td>
                    </tr>
                    
                    <tr>
                        <td>Oficinas</td>
                        <td><img src="images/oficina.png"></td>
                        <td>Locales</td>
                        <td><img src="images/local.png"></td>
                    </tr>
                    <tr>
                        <td>Párquings</td>
                        <td><img src="images/parking.png"></td>
                        <td>Centros educativos</td>
                        <td><img src="images/cole.png"></td>
                    </tr>
                        
                </table>
            </section>
    
            <section id="contacto">
                <h2>Contacto</h2>
                <p>¡Contáctanos para obtener más información!</p>
                <!-- Puedes agregar un formulario de contacto u otra información de contacto aquí -->
            </section>
    
            <footer>
                <p>&copy; 2023 LimpiezasPuntoCom. Todos los derechos reservados.</p>
            </footer>
     
    </body>
</html>