<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="estilo.css" />
        <title>limpiezaspuntocom</title>
    </head>
    <body>
        <nav class="navbar">
            <ul class="listanav">
                <li><a href="inicio.html">Inicio</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="">Inicio de sesión</a></li>
            </ul>
            <div class="textnavbar">
            <h1>Brillo y confort, en cada punto con <br><img src="logo/logoblanco.png" class="logonav"></h1>
            <p>"Descubre y contrata nuestros servicios de limpieza de alta calidad."</p>
            </div>
        </nav>
    <div class="container">
        <div>
            <div><h3>Limpieza por pisos</h3>
                <img src="">
                <p>Realizamos limpiezas por pisos</p>
            </div>
            <div>
                <h3>Limpieza de casas</h3>
                <img src="">
                <p>Realizamos limpiezas totales de casas</p>
            </div>
            <div>
                <h3>Limpieza de oficinas</h3>
                <img src="">
                <p>Realizamos limpieza de oficinas</p>
            </div>
            <div>
                <h3>Limpieza de locales</h3>
                <img src="">
                <p>Realizamos limpieza de locales</p>
            </div>
            <div>
                <h3>Limpieza de párkings</h3>
                <img src="">
                <p>Realizamos limpiezas de párkings </p>
            </div>
            <div>
            <h3>Limpieza de centros educativos</h3>
            <img src="">
            <p>Realizamos limpiezas de centros educativos</p>
            </div>
        </div>
    </div>

    </body>
</html>